# Logistic Regression

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
X, y = load_iris(return_X_y=True)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
clf = LogisticRegression(random_state=0).fit(X, y)

In [33]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [35]:
clf.predict(X_test)

array([1, 0, 2, 1, 2, 1, 1, 0, 1, 0, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 2, 0,
       0, 2, 0, 1, 2, 0, 1, 1])

In [36]:
y_test

array([1, 0, 2, 1, 2, 1, 2, 0, 1, 0, 0, 0, 1, 2, 0, 1, 2, 2, 2, 0, 2, 0,
       0, 2, 0, 1, 2, 0, 1, 1])

In [9]:
clf.predict_proba(X_test)

array([[2.38735712e-02, 9.59403809e-01, 1.67226193e-02],
       [9.86782288e-01, 1.32176989e-02, 1.27640895e-08],
       [9.56621117e-01, 4.33788146e-02, 6.82548970e-08],
       [9.77375435e-01, 2.26245475e-02, 1.73754790e-08],
       [3.10531600e-08, 4.69416805e-03, 9.95305801e-01],
       [9.84130492e-01, 1.58694876e-02, 2.04924960e-08],
       [1.36321467e-04, 1.56785708e-01, 8.43077970e-01],
       [9.72491303e-01, 2.75085592e-02, 1.37345796e-07],
       [9.64318306e-01, 3.56816239e-02, 7.03464600e-08],
       [2.01467068e-06, 1.26155023e-02, 9.87382483e-01],
       [1.05278976e-06, 2.93191104e-02, 9.70679837e-01],
       [9.09512265e-03, 9.76439276e-01, 1.44656018e-02],
       [9.51861594e-01, 4.81381999e-02, 2.05940436e-07],
       [6.15742666e-07, 2.15387435e-02, 9.78460641e-01],
       [9.78987640e-01, 2.10123503e-02, 9.60448275e-09],
       [9.51610853e-01, 4.83890602e-02, 8.67502034e-08],
       [2.50918568e-02, 9.56447435e-01, 1.84607086e-02],
       [7.04661669e-03, 9.42870225e-01, 5.00831581e-02],
       [4.67821571e-04, 2.34931704e-01, 7.64600474e-01],
       [9.85397005e-01, 1.46029834e-02, 1.19238685e-08],
       [7.42651024e-02, 9.15195293e-01, 1.05396044e-02],
       [5.77299793e-03, 8.59840411e-01, 1.34386591e-01],
       [4.81668803e-06, 5.19889556e-02, 9.48006228e-01],
       [9.68753423e-01, 3.12465337e-02, 4.31347721e-08],
       [7.15936200e-05, 1.36858411e-01, 8.63069996e-01],
       [9.89026017e-01, 1.09739713e-02, 1.12705396e-08],
       [5.73178092e-04, 4.81058486e-01, 5.18368336e-01],
       [2.23537425e-04, 2.50156337e-01, 7.49620126e-01],
       [2.09548913e-05, 6.51787317e-02, 9.34800313e-01],
       [9.73907771e-01, 2.60921890e-02, 3.99829971e-08]])

In [38]:
clf.score(X_train, y_train)

0.975

In [39]:
clf.score(X_test, y_test)

0.9666666666666667

# Confusion Matrix

In [3]:
from sklearn.metrics import confusion_matrix

In [11]:
confusion_matrix(y, clf.predict(X))

array([[50,  0,  0],
       [ 0, 47,  3],
       [ 0,  1, 49]], dtype=int64)

In [12]:
confusion_matrix(y, clf.predict(X), normalize='true')

array([[1.  , 0.  , 0.  ],
       [0.  , 0.94, 0.06],
       [0.  , 0.02, 0.98]])

In [ ]:
i

# 1. Solve classification problem using 'classification.csv' dataset

##### target variable is 'default'. Apply feature selection, feature scaling, cross validation etc. (anything you think is needed)

In [4]:
import pandas as pd
df=pd.read_csv('classification.csv')
df.head()

,age,ed,employ,address,income,debtinc,creddebt,othdebt,default
0,41,college degree,17,12,176,9.3,11.359392,5.008608,1
1,27,no high school,10,6,31,17.3,1.362202,4.000798,0
2,40,no high school,15,14,55,5.5,0.856075,2.168925,0
3,41,no high school,15,14,120,2.9,2.658720,0.821280,0
4,24,high school,2,0,28,17.3,1.787436,3.056564,1

In [5]:
df.ed.unique()

array(['college degree', 'no high school', 'high school', 'undergraduate',
       'postgraduate'], dtype=object)

In [6]:
df.corr()

,age,employ,address,income,debtinc,creddebt,othdebt,default
age,1.000000,0.536497,0.597591,0.478710,0.016398,0.295207,0.340217,-0.137657
employ,0.536497,1.000000,0.322334,0.619681,-0.031182,0.403694,0.406091,-0.282978
address,0.597591,0.322334,1.000000,0.316245,0.011323,0.208435,0.226514,-0.164451
income,0.478710,0.619681,0.316245,1.000000,-0.026777,0.570199,0.610659,-0.070970
debtinc,0.016398,-0.031182,0.011323,-0.026777,1.000000,0.501767,0.584870,0.389575
creddebt,0.295207,0.403694,0.208435,0.570199,0.501767,1.000000,0.633104,0.244740
othdebt,0.340217,0.406091,0.226514,0.610659,0.584870,0.633104,1.000000,0.145713
default,-0.137657,-0.282978,-0.164451,-0.070970,0.389575,0.244740,0.145713,1.000000

In [7]:
df = pd.get_dummies(df[['age','ed', 'employ', 'address', 'income', 'debtinc','creddebt','othdebt','default']])

In [8]:
df.head()

,age,employ,address,income,debtinc,creddebt,othdebt,default,ed_college degree,ed_high school,ed_no high school,ed_postgraduate,ed_undergraduate
0,41,17,12,176,9.3,11.359392,5.008608,1,1,0,0,0,0
1,27,10,6,31,17.3,1.362202,4.000798,0,0,0,1,0,0
2,40,15,14,55,5.5,0.856075,2.168925,0,0,0,1,0,0
3,41,15,14,120,2.9,2.658720,0.821280,0,0,0,1,0,0
4,24,2,0,28,17.3,1.787436,3.056564,1,0,1,0,0,0

In [9]:
y=df.default
df.corr()

,age,employ,address,income,debtinc,creddebt,othdebt,default,ed_college degree,ed_high school,ed_no high school,ed_postgraduate,ed_undergraduate
age,1.000000,0.536497,0.597591,0.478710,0.016398,0.295207,0.340217,-0.137657,0.051031,-0.059646,0.015432,0.082148,-0.020260
employ,0.536497,1.000000,0.322334,0.619681,-0.031182,0.403694,0.406091,-0.282978,-0.029161,-0.073388,0.146061,0.005245,-0.135290
address,0.597591,0.322334,1.000000,0.316245,0.011323,0.208435,0.226514,-0.164451,0.058899,0.001322,-0.047697,0.023896,0.007779
income,0.478710,0.619681,0.316245,1.000000,-0.026777,0.570199,0.610659,-0.070970,0.149451,0.014392,-0.178107,0.163696,0.085204
debtinc,0.016398,-0.031182,0.011323,-0.026777,1.000000,0.501767,0.584870,0.389575,0.032199,-0.034308,0.005693,-0.042278,0.024489
creddebt,0.295207,0.403694,0.208435,0.570199,0.501767,1.000000,0.633104,0.244740,0.110548,-0.038828,-0.056229,-0.009532,0.043597
othdebt,0.340217,0.406091,0.226514,0.610659,0.584870,0.633104,1.000000,0.145713,0.169630,-0.012977,-0.127588,0.080032,0.030057
default,-0.137657,-0.282978,-0.164451,-0.070970,0.389575,0.244740,0.145713,1.000000,0.071502,0.052241,-0.118909,-0.011857,0.058337
ed_college degree,0.051031,-0.029161,0.058899,0.149451,0.032199,0.110548,0.169630,0.071502,1.000000,-0.236597,-0.401203,-0.031954,-0.090259
ed_high school,-0.059646,-0.073388,0.001322,0.014392,-0.034308,-0.038828,-0.012977,0.052241,-0.236597,1.000000,-0.668829,-0.053269,-0.150468
ed_no high school,0.015432,0.146061,-0.047697,-0.178107,0.005693,-0.056229,-0.127588,-0.118909,-0.401203,-0.668829,1.000000,-0.090329,-0.255151
ed_postgraduate,0.082148,0.005245,0.023896,0.163696,-0.042278,-0.009532,0.080032,-0.011857,-0.031954,-0.053269,-0.090329,1.000000,-0.020321
ed_undergraduate,-0.020260,-0.135290,0.007779,0.085204,0.024489,0.043597,0.030057,0.058337,-0.090259,-0.150468,-0.255151,-0.020321,1.000000

In [10]:
y

0      1
1      0
2      0
3      0
4      1
      ..
695    1
696    0
697    0
698    0
699    0
Name: default, Length: 700, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(df[['age', 'creddebt', 'debtinc', 'ed_college degree', 'ed_high school','ed_no high school', 'ed_postgraduate', 'ed_undergraduate', 'employ','income', 'othdebt']],y, test_size=0.2, random_state=42)

In [12]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
y_pre=clf.predict(X_test)
y_pre

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0], dtype=int64)

In [13]:
clf.predict_proba(X_test)

array([[0.84046699, 0.15953301],
       [0.49605961, 0.50394039],
       [0.93773777, 0.06226223],
       [0.76592985, 0.23407015],
       [0.64822658, 0.35177342],
       [0.65185782, 0.34814218],
       [0.97344285, 0.02655715],
       [0.95031988, 0.04968012],
       [0.01210211, 0.98789789],
       [0.31392829, 0.68607171],
       [0.4438297 , 0.5561703 ],
       [0.68019886, 0.31980114],
       [0.27799792, 0.72200208],
       [0.98512838, 0.01487162],
       [0.04214669, 0.95785331],
       [0.47232344, 0.52767656],
       [0.82287463, 0.17712537],
       [0.94623288, 0.05376712],
       [0.7793527 , 0.2206473 ],
       [0.23397705, 0.76602295],
       [0.98132069, 0.01867931],
       [0.12584168, 0.87415832],
       [0.72692413, 0.27307587],
       [0.75096372, 0.24903628],
       [0.85271842, 0.14728158],
       [0.79243836, 0.20756164],
       [0.99784867, 0.00215133],
       [0.68001546, 0.31998454],
       [0.94094783, 0.05905217],
       [0.24827735, 0.75172265],
       [0.95296596, 0.04703404],
       [0.93040815, 0.06959185],
       [0.52404265, 0.47595735],
       [0.85581512, 0.14418488],
       [0.89187596, 0.10812404],
       [0.9300318 , 0.0699682 ],
       [0.72443615, 0.27556385],
       [0.86712441, 0.13287559],
       [0.66005308, 0.33994692],
       [0.9761519 , 0.0238481 ],
       [0.51458843, 0.48541157],
       [0.98499627, 0.01500373],
       [0.82405499, 0.17594501],
       [0.68839109, 0.31160891],
       [0.88464296, 0.11535704],
       [0.73530322, 0.26469678],
       [0.74251198, 0.25748802],
       [0.97016557, 0.02983443],
       [0.81292992, 0.18707008],
       [0.94273897, 0.05726103],
       [0.73488017, 0.26511983],
       [0.80274319, 0.19725681],
       [0.95528882, 0.04471118],
       [0.70304014, 0.29695986],
       [0.59188313, 0.40811687],
       [0.25073817, 0.74926183],
       [0.90147176, 0.09852824],
       [0.85428594, 0.14571406],
       [0.99227811, 0.00772189],
       [0.9139839 , 0.0860161 ],
       [0.52691256, 0.47308744],
       [0.99717887, 0.00282113],
       [0.76249998, 0.23750002],
       [0.69271405, 0.30728595],
       [0.96595402, 0.03404598],
       [0.27414453, 0.72585547],
       [0.71052502, 0.28947498],
       [0.38868402, 0.61131598],
       [0.88408227, 0.11591773],
       [0.91983993, 0.08016007],
       [0.70992659, 0.29007341],
       [0.98227137, 0.01772863],
       [0.91726247, 0.08273753],
       [0.7617121 , 0.2382879 ],
       [0.69837742, 0.30162258],
       [0.86834914, 0.13165086],
       [0.92823344, 0.07176656],
       [0.99721243, 0.00278757],
       [0.94176955, 0.05823045],
       [0.91064226, 0.08935774],
       [0.87038531, 0.12961469],
       [0.45210632, 0.54789368],
       [0.83065188, 0.16934812],
       [0.86043116, 0.13956884],
       [0.72774094, 0.27225906],
       [0.76962658, 0.23037342],
       [0.95530816, 0.04469184],
       [0.24274368, 0.75725632],
       [0.8536259 , 0.1463741 ],
       [0.46173144, 0.53826856],
       [0.92998632, 0.07001368],
       [0.9976748 , 0.0023252 ],
       [0.60466348, 0.39533652],
       [0.82880672, 0.17119328],
       [0.35124649, 0.64875351],
       [0.97001784, 0.02998216],
       [0.99060256, 0.00939744],
       [0.47453884, 0.52546116],
       [0.89077942, 0.10922058],
       [0.35009297, 0.64990703],
       [0.72052209, 0.27947791],
       [0.50464926, 0.49535074],
       [0.97877301, 0.02122699],
       [0.55744312, 0.44255688],
       [0.09908271, 0.90091729],
       [0.95889185, 0.04110815],
       [0.99177631, 0.00822369],
       [0.37388567, 0.62611433],
       [0.91388934, 0.08611066],
       [0.99787226, 0.00212774],
       [0.90986532, 0.09013468],
       [0.76192607, 0.23807393],
       [0.81989484, 0.18010516],
       [0.88218331, 0.11781669],
       [0.45149122, 0.54850878],
       [0.99631471, 0.00368529],
       [0.79842351, 0.20157649],
       [0.84214017, 0.15785983],
       [0.8183636 , 0.1816364 ],
       [0.85904035, 0.14095965],
       [0.21118928, 0.78881072],
       [0.77410011, 0.22589989],
       [0.96113503, 0.03886497],
       [0.78471254, 0.21528746],
       [0.98506728, 0.01493272],
       [0.37322663, 0.62677337],
       [0.79021757, 0.20978243],
       [0.8149184 , 0.1850816 ],
       [0.96950122, 0.03049878],
       [0.97719314, 0.02280686],
       [0.91692182, 0.08307818],
       [0.98151376, 0.01848624],
       [0.94110235, 0.05889765],
       [0.43303217, 0.56696783],
       [0.90683749, 0.09316251],
       [0.428068  , 0.571932  ],
       [0.88007599, 0.11992401],
       [0.96045582, 0.03954418],
       [0.68293731, 0.31706269],
       [0.71694962, 0.28305038]])

In [14]:
clf.score(X_test, y_test)

0.8571428571428571

In [15]:
clf.score(X_train, y_train)

0.7964285714285714

# 2. Print accuracy, confusion matrix, precision, recall, sensitivity and specifity on train and test (and maybe validation) datasets.

##### do not use any libraries for metrics, implement yourself

### For test data

In [18]:
y1=np.array(y_test)
y1

array([1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0], dtype=int64)

In [17]:
import numpy as np

In [19]:
y_pre

array([0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0], dtype=int64)

In [20]:
true_positive_test = 0
for i in range(len(y1)):
    if y_pre[i]==1 and y1[i]==1:
        true_positive_test +=1

print(true_positive_test)

22

In [21]:
true_negative_test=0
for i in range(len(y1)):
    if y_pre[i]==0 and y1[i]==0:
        true_negative_test+=1
print(true_negative_test)

98

In [22]:
false_positive_test = 0
for i in range(len(y1)):
    if y_pre[i]==1 and y1[i]==0:
        false_positive_test+=1
        
print(false_positive_test)

4

In [23]:
precision_test = true_positive_test/(true_positive_test + false_positive_test)
precision_test

0.8461538461538461

In [24]:
false_negative_test=0
for i in range(len(y1)):
    if y_pre[i]==0 and y1[i]==1:
        false_negative_test +=1
print(false_negative_test)

16

In [25]:
recall_test = true_positive_test/(true_positive_test + false_negative_test)
recall_test

0.5789473684210527

In [26]:
sensitivity_test= recall_test
sensitivity_test

0.5789473684210527

In [28]:
specifity_test=true_negative_test/(true_negative_test + false_positive_test)
specifity_test

0.9607843137254902

In [29]:
data_test=[[true_positive_test, false_positive_test], [false_negative_test, true_negative_test]]
col = ['Positive', 'Negative']
confusion_matrix_test= pd.DataFrame(data_test, columns = col, index =col)
confusion_matrix_test

          Positive  Negative
Positive        22         4
Negative        16        98

In [30]:
from sklearn.metrics import confusion_matrix

In [31]:
confusion_matrix(y1, y_pre)
#    98  22  ?

array([[98,  4],
       [16, 22]], dtype=int64)

In [46]:
accur_test = (true_positive_test+ true_negative_test)/(true_positive_test+ true_negative_test + false_positive_test+false_negative_test)
accur_test

0.8571428571428571

### For train data

In [32]:
y_pre_train=clf.predict(X_train)
y_pre_train

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [33]:
y2=np.array(y_train)
y2

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [34]:
len(y2)

560

In [35]:
true_positive_train = 0
for i in range(len(y2)):
    if y_pre_train[i]==1 and y2[i]==1:
        true_positive_train +=1

print(true_positive_train)

62

In [36]:
true_negative_train=0
for i in range(len(y2)):
    if y_pre_train[i]==0 and y2[i]==0:
        true_negative_train+=1
print(true_negative_train)

384

In [37]:
false_positive_train = 0
for i in range(len(y2)):
    if y_pre_train[i]==1 and y2[i]==0:
        false_positive_train+=1
        
print(false_positive_train)

31

In [38]:
precision_train = true_positive_train/(true_positive_train + false_positive_train)
precision_train

0.6666666666666666

In [39]:
false_negative_train=0
for i in range(len(y2)):
    if y_pre_train[i]==0 and y2[i]==1:
        false_negative_train +=1
print(false_negative_train)

83

In [40]:
recall_train = true_positive_train/(true_positive_train + false_negative_train)
recall_train

0.42758620689655175

In [41]:
sensitivity_train= recall_train
sensitivity_train

0.42758620689655175

In [42]:
specifity_train=true_negative_train/(true_negative_train + false_positive_train)
specifity_train

0.9253012048192771

In [43]:
data_train=[[true_positive_train, false_positive_train], [false_negative_train, true_negative_train]]
col = ['Positive', 'Negative']
confusion_matrix_train= pd.DataFrame(data_train, columns = col, index =col)
confusion_matrix_train

          Positive  Negative
Positive        62        31
Negative        83       384

In [47]:
accur_train = (true_positive_train+ true_negative_train)/(true_positive_train+ true_negative_train + false_positive_train+false_negative_train)
accur_train

0.7964285714285714