In [1]:
list1 = ["hello", 1, True]
name = input("What is your name?")
age = input("How old are you?")
list1.append(name)
list1.append(age)
print(list1)

What is your name?Mane
How old are you?25
['hello', 1, True, 'Mane', '25']

In [3]:
list2 = [ "morning", "sea", "vacation", "dream", "eror", 404]
list2.pop(5)
list2.pop(4)
list2.pop(0)
print(list2)

['sea', 'vacation', 'dream']

In [13]:
set1 = (1, 2, 3, 4, 5, 6 ,7)
number = int(input("Say a number"))
if min(set1)< number < max(set1):
    print(True)
else:
    print(False)

Say a number15
False

In [6]:
dict1 = {"brand": "Ford",
  "model": "Mustang",
  "year": 1969 }
print(dict1)
info = input("What key do you add?")
color = input("What color is the car?")
dict1[info]=color
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1969}
What key do you add?color
What color is the car?black
{'brand': 'Ford', 'model': 'Mustang', 'year': 1969, 'color': 'black'}

In [8]:
a= 7
b= 7
if a == b:
    print("square")
else:
    print("rectangle")

square

In [24]:
name = "Tigran"
age = 14
password = "bla_bla"
if name == "Batman":
    print("Hello Mr. Batman")
if age< 16:
    print("Dear Mr %s, you are too young to register" % name)
if "*" or "&" not in password:
    print("Please enter a different password")

Dear Mr Tigran, you are too young to register
Please enter a different password

In [27]:
x= range(0,100)
for y in x:
    if y%2==1:
        print(y)
    else:
        continue

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [28]:
x= range(20)
for y in x:
    if y%3 == 0 and y%5 == 0:
        break

In [30]:
list1 = [5, 10, 15, 20, 25, 30, 35, 40]
list2 = [x for x in list1 if x>20]
print(list2)

[25, 30, 35, 40]